{% block stat %}
	<section>
		<div class="bg-holder" style="background-image:url({{ asset('build/images/gallery/funfacts-2-bg.png') }});background-position:center;background-size:cover;"></div>
		<!--/.bg-holder-->

		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 text-center mb-5"><img src="{{ asset('build/images/gallery/published.png') }}" height="100" alt="..."/>
					<h1 class="my-2">
						{% block statpublier %}768
						{% endblock %}
					</h1>
					<p class="text-info fw-bold">COURSES PUBLISHED</p>
				</div>
				<div class="col-sm-6 col-lg-3 text-center mb-5"><img src="{{ asset('build/images/gallery/instructors.png') }}" height="100" alt="..."/>
					<h1 class="my-2">
						{% block statexpet %}120
						{% endblock %}
					</h1>
					<p class="text-info fw-bold">EXPERT INSTRUCTORS</p>
				</div>
				<div class="col-sm-6 col-lg-3 text-center mb-5"><img src="{{ asset('build/images/gallery/learners.png') }}" height="100" alt="..."/>
					<h1 class="my-2">
						{% block stathappylearners %}8300
						{% endblock %}
					</h1>
					<p class="text-info fw-bold">HAPPY LEARNERS</p>
				</div>
				<div class="col-sm-6 col-lg-3 text-center mb-5"><img src="{{ asset('build/images/gallery/awards.png') }}" height="100" alt="..."/>
					<h1 class="my-2">
						{% block statachived %}32
						{% endblock %}
					</h1>
					<p class="text-info fw-bold">AWARDS ACHIEVED</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
